/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente para el texto */
    margin: 0; /* Elimina el margen exterior */
    padding: 0; /* Elimina el relleno exterior */
    background-color: #6d5f5f; /* Color de fondo del cuerpo */
}

/* Estilos para el contenedor principal */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 50px auto; /* Margen superior e inferior automático y margen izquierdo y derecho automático para centrar */
    background-color: #d3d1d1; /* Color de fondo del contenedor */
    padding: 20px; /* Relleno interno del contenedor */
    border-radius: 8px; /* Radio de borde para esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
}

/* Estilos para el encabezado principal */
h1 {
    font-family: 'Times New Roman', Times, serif; /* Fuente para el encabezado */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para las columnas dentro del formulario */
.columna {
    display: inline-block; /* Mostrar como bloque en línea */
    vertical-align: top; /* Alineación vertical superior */
    width: 45%; /* Ancho de las columnas */
}

/* Estilos para los grupos de etiquetas y campos de entrada */
.grupos {
    margin-bottom: 20px; /* Margen inferior entre grupos */
}

/* Estilos para las etiquetas */
label {
    font-weight: bold; /* Negrita para las etiquetas */
    display: block; /* Mostrar como bloque */
}

/* Estilos para los campos de entrada */
.input {
    width: calc(100% - 10px); /* Ancho del campo de entrada menos 10px para el borde */
    padding: 10px; /* Relleno interno del campo de entrada */
    border: 1px solid #9b9191; /* Borde del campo de entrada */
    border-radius: 4px; /* Radio de borde para esquinas redondeadas */
    box-sizing: border-box; /* Incluir el borde en el ancho */
}

/* Estilos para el botón de registro */
.registrar {
    width: 100%; /* Ancho completo del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Radio de borde para esquinas redondeadas */
    background-color: #aa0404; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cursor tipo puntero */
}

/* Estilos para el botón de registro al pasar el mouse sobre él */
.registrar:hover {
    background-color: #ff1e00; /* Color de fondo al pasar el mouse */
}
